.sidebar {
    position: fixed;
    left: -10px;
    top: 0;
    height: 100%;
    max-width: 24rem;
    width: 80%;
    background-color: #2d3748;
    color: #ffffff;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 20;

    &.open {
        transform: translateX(0);
    }
}
