@use './doom' as doom;


@mixin tag-active-style {
  color: doom.$doomColorSecondary;
  border: 1px solid doom.$doomColorDanger;
  box-shadow: 0px 5px 7px -5px rgb(173, 1, 1, 0.9);
  text-shadow: 3px 3px 0px rgba(61, 1, 6, 255);
}


@mixin doom-btn-default-hover {
  color: doom.$doomColorDanger;
}


.doom-btn-primary {
    padding: 0.5rem 0;
    border-radius: 0.375rem;
    transition: all 250ms ease-in-out;
    font-weight: 600;
    letter-spacing: 2px;

    &:hover {
        letter-spacing: 3px;
    }

    &:disabled, &[disabled] {
        cursor: progress;
        opacity: 0.8;
        letter-spacing: 2px;
    }
}


.doom-btn {
    cursor: pointer;
    transition: 0.1s linear;
    color: doom.$doomColorSecondary;
    text-shadow: doom.$doomTextShadowDanger;

    &:hover {
        @include doom-btn-default-hover;
    }
}


.doom-btn-default {
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 0.375rem;
    transition: 0.1s linear;
    letter-spacing: 1px;    

    &:hover {
        @include doom-btn-default-hover;
    }
}


.tag {
  cursor: pointer;
  color: #ebebeba3;
  border: 1px solid #1a1a1a;
  font-weight: 600;
  border-radius: 2px;
  // padding: 4px 6px 4px 6px;
  transition: 0.2s ease-in, 0.3s ease-out;

  &:hover, &.active, &.highlight {
    @include tag-active-style;
  }

  &.highlight {
    border-color: gray;
    box-shadow: 0px 5px 7px -5px doom.$doomColorAltDark;
    text-shadow: none;
    
    &:hover {
      @include tag-active-style;
    }
  }
}


.back-to-top-btn {
  opacity: 0;
  transition: 0.2s ease-in, 0.2s ease-out;
  color: doom.$colorSlate;

  &.active {
    opacity: 1;
  }

  &:hover {
    @include tag-active-style;
  }
}


.page-link {
  cursor: pointer;
  position: relative;
  text-shadow: doom.$doomTextShadowDanger;
  color: doom.$doomColorSecondary;
  transition: 0.1s linear;

  &.active, &:hover {
    color: doom.$doomColorSecondary;
    font-weight: 700;
    text-shadow: none;
    color: doom.$doomColorDanger;
  }

  &.active {
    cursor: default;
    color: doom.$doomColorDanger;
    font-weight: 700;
  }

}

.btn-remove-filters {
  @extend .doom-btn;

  & > svg {
    transition: 0.1s linear;
  }

  &:hover > svg {
    color: doom.$doomColorDanger;
  }
}

.doom-action-btn {
    @extend .doom-btn-primary;

    background-color: doom.$doomColorDanger !important;
    color: doom.$colorSlate;

    &:hover {
        background-color: doom.$doomColorDangerDarker !important;
        color: doom.$doomColorSecondary;
    }

    &:disabled, &[disabled] {
        background-color: doom.$doomColorDanger !important;
    }
}


.doom-btn-secondary {
    @extend .doom-btn-primary;

    background-color: doom.$doomColorAccent !important;
    color: white;

    &:hover {
        background-color: doom.$doomColorAccentDarker !important;
        color: doom.$doomColorSecondary;
    }
}


.doom-checkbox {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid doom.$colorSlate;
    border-radius: 0.25rem;
    background-color: doom.$doomColorAlt;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    position: relative;
  
    &:checked {
      background-color: doom.$doomColorDanger;
      border-color: doom.$doomColorDanger;
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px doom.$doomColorDangerDark;
    }
  
    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 5px;
      width: 5px;
      height: 10px;
      border: solid doom.$colorSlate;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity 0.2s;
    }
  
    &:checked::after {
      opacity: 1;
    }
  }
