@use "./doom";
@use "./items";
@use "./buttons";
@use "./footer";
@use "./bars";
@use "./containers";

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "editundo";
    src: local("editundo"), url("/fonts/editundo.ttf") format("truetype");
}

body {
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
}
