$doomColorDanger: #ad0101;
$doomColorDangerDark: #3d0106;
$doomColorSecondary: #FCFD85;
$doomColorAlt: #373737;

$doomTextShadow: 3px 3px 0px $doomColorDangerDark;

.doom-font {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-style: normal;
  font-variant: small-caps;
}

.doom-color-danger {
  color: $doomColorDanger;
}

.doom-color-secondary {
  color: $doomColorSecondary;
}

.doom-text-shadow {
  text-shadow: $doomTextShadow;
}
