$doomColorDanger: #ad0101;
$doomColorSecondary: #FCFD85;

.doom-font {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-style: normal;
  font-variant: small-caps;
}

.doom-color-danger {
  color: $doomColorDanger;
}

.doom-color-secondary {
  color: $doomColorSecondary;
}
